<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QO_100_WB_Quick_Tune.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="QO_100_WB_Live_Tune.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <QO_100_WB_Quick_Tune.Properties.Settings>
            <setting name="lnb_offset" serializeAs="String">
                <value>9750000</value>
            </setting>
            <setting name="mt_ip" serializeAs="String">
                <value>232.0.0.11</value>
            </setting>
            <setting name="mt_port" serializeAs="String">
                <value>6789</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Minimal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="scan_dwell" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="scan_minsr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="scan_numrx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wh_ip" serializeAs="String">
                <value>232.0.0.1</value>
            </setting>
            <setting name="wh_port" serializeAs="String">
                <value>9910</value>
            </setting>
            <setting name="wh_lo" serializeAs="String">
                <value>9750000</value>
            </setting>
            <setting name="wh_scan_checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="avoidbeacon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fft_url" serializeAs="String">
                <value>wss://eshail.batc.org.uk/wb/fft</value>
            </setting>
            <setting name="chat_nick" serializeAs="String">
                <value />
            </setting>
            <setting name="ReceiverList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="ChatWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ChatHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ChatSplitterDistance" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="showrxlabels" serializeAs="String">
                <value>False</value>
            </setting>
        </QO_100_WB_Quick_Tune.Properties.Settings>
        <QO_100_WB_Live_Tune.Properties.Settings>
            <setting name="lnb_offset" serializeAs="String">
                <value>9750000</value>
            </setting>
            <setting name="mt_ip" serializeAs="String">
                <value>232.0.0.11</value>
            </setting>
            <setting name="mt_port" serializeAs="String">
                <value>6789</value>
            </setting>
            <setting name="ReceiverList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>232.0.0.11,6789,9750000</string>
                        <string>232.0.0.11,6790,9750000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Minimal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </QO_100_WB_Live_Tune.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
